<script id="page-select-template" type="text/x-handlebars-template">
  <div id="page-select" class="row">
    <div id="page-list" class="card col-xs-12 col-sm-6 col-sm-offset-3">
      <ul class="list">
        {{#pages}}
        <li class="page list-item" data-id="{{id}}">
          <div class="name heading">
            {{name}}
          </div>
          <div class="category subtext">
            {{category}}
          </div>
        </li>
        {{/pages}}
      </ul>
    </div>
  </div>
</script>
