<script id="page-template" type="text/x-handlebars-template">
  <div id="page-container" class="container">

    <div id="back-link-wrapper" class="col-xs-12 col-sm-6 col-sm-offset-3">
      <span id="back-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
        Back to pages
      </span>
    </div>

    <div id="page-info" class="card col-xs-12 col-sm-6 col-sm-offset-3">
      <h3 class="name">
        {{name}}
      </h3>
      <div class="link">
        <a href="{{link}}" target="_blank">
          <span class="glyphicon glyphicon-link"></span>
          {{link}}
        </a>
      </div>
    </div>

    <div id="post-actions" class="card col-xs-12 col-sm-6 col-sm-offset-3">
      <table class="table">
        <tbody>
          <tr>
            <td class="new-post-cell">
              <span id="new-post-button" class="post-button">
                <span class="glyphicon glyphicon-plus"></span>
                <span class="text">
                  New Post
                </span>
              </span>
              <span id="cancel-post-button" class="post-button" style="display: none">
                <span class="glyphicon glyphicon-remove"></span>
                <span class="text">
                  Cancel
                </span>
              </span>
            </td>
            <td class="reload-cell">
              <span id="reload-button" class="post-button">
                <span class="glyphicon glyphicon-refresh"></span>
                Reload
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="new-post" class="card col-xs-12 col-sm-6 col-sm-offset-3" style="display:none">
      <div id="new-post-wrapper">
        <form id="new-post-form">
          <textarea name="message" class="form-control" placeholder="What have you been up to?" rows="5"></textarea>
          <div id="submit-area">
            <span class="error-message">
            </span>
            Schedule:
            <input type="text" placeholder="Now" id="schedule-post-date" name="scheduled_date" />
            <input type="text" placeholder="mm:ss" id="schedule-post-time" name="scheduled_time" style="display: none"/>
            <button id="submit-post" class="btn btn-primary btn-xs">
              Post
            </button>
          </div>
        </form>
      </div>
    </div>

    <div id="posts" class="card col-xs-12 col-sm-6 col-sm-offset-3">
      {{> posts}}
    </div>
  </div>
</script>
