body
  background-color: #E9EAED
  font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif

.card
  background: #fff
  border: 1px solid
  border-color: #e5e6e9 #dfe0e4 #d0d1d5
  -webkit-border-radius: 3px

.list
  padding-left: 0
  margin-bottom: 0
  .list-item
    list-style-type: none
    padding: 10px 20px
    border-bottom: solid 1px #E1E2E3
    &:last-child
      border-bottom: none
    &:hover
      cursor: pointer
      background-color: #f6f7f8

    .heading
      color: #3B5998
      font-size: 16px
      font-weight: bold

    .subtext
      color: #9197A3
      font-size: 11px
